<!-- <nb-card class="col-md-12 col-lg-12 col-xxxl-12">
  <nb-card-body>
    <nb-stepper orientation="horizontal">
      <nb-step [label]="labelOne">
        <ng-template #labelOne>First step</ng-template>
        <h3>Step content #1</h3>
        <button nbButton disabled nbStepperNext>prev</button>
        <button nbButton nbStepperNext>next</button>
      </nb-step>
      <nb-step [label]="labelTwo">
        <ng-template #labelTwo>Second step</ng-template>
        <h3>Step content #2</h3>
        <button nbButton nbStepperPrevious>prev</button>
        <button nbButton nbStepperNext>next</button>
      </nb-step>
      <nb-step label="Third step">
        <h3>Step content #3</h3>
        <button nbButton nbStepperPrevious>prev</button>
        <button nbButton nbStepperNext>next</button>
      </nb-step>
      <nb-step [label]="labelFour">
        <ng-template #labelFour>Fourth step</ng-template>
        <h3>Step content #4</h3>
        <button nbButton nbStepperPrevious>prev</button>
        <button nbButton disabled nbStepperNext>next</button>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card> -->

<div class="steppers-container row">
  <h2>Counter Party Credit Risk ( SA CCR )</h2>
  <!-- <div class="col-md-12 col-lg-6 col-xxxl-6"> -->
    <nb-card size="large">
      <nb-card-body>
        <button class="linear-mode-button"
          nbButton
          (click)="toggleLinearMode()">
          {{ linearMode ? 'Disable' : 'Enable' }} linear mode
        </button>
        <nb-stepper orientation="vertical" #stepper [linear]="linearMode">
          <nb-step [stepControl]="firstForm" label="Scope Definition">
            <form [formGroup]="firstForm" (ngSubmit)="onFirstSubmit()" class="step-container">
              <p class="lorem">
                The Process details ( May be Micro Services ) displayed in the right pane need to be stored in DIM_Micro Services 
                User generally expects to see the details of each Micro service .On clicking the Parametrization Micro Service in the Process, 
                it should navigate to the next screen which allows the user to  edit the values assigned to the different parameters.
              </p>
              <div class="input-group">
                <input type="text" placeholder="Enter something" class="form-control" formControlName="firstCtrl"
                       [ngClass]="{'form-control-danger': firstForm.invalid && (firstForm.dirty || firstForm.touched)}">
                <div class="col-lg-6">
                        <nb-card>
                          <nb-card-header>Select</nb-card-header>
                          <nb-card-body>
                            <nb-select selected="1">
                              <nb-option value="1">Option 1</nb-option>
                              <nb-option value="2">Option 2</nb-option>
                            </nb-select>
                          </nb-card-body>
                        </nb-card>
                </div>
              </div>
              <button nbButton nbStepperNext>next</button>
            </form>
          </nb-step>
          <nb-step [stepControl]="secondForm" label="Data Loading">
            <form [formGroup]="secondForm" (ngSubmit)="onSecondSubmit()" class="step-container">
              <p class="lorem">
                The Process details ( May be Micro Services ) displayed in the right pane need to be stored in DIM_Micro Services 
                User generally expects to see the details of each Micro service .On clicking the Parametrization Micro Service in the Process, 
                it should navigate to the next screen which allows the user to  edit the values assigned to the different parameters.
              </p>
              <div class="input-group">
                <input type="text" placeholder="Enter favorite movie" class="form-control" formControlName="secondCtrl"
                       [ngClass]="{'form-control-danger': secondForm.invalid && (secondForm.dirty || secondForm.touched)}">
              </div>
              <button nbButton nbStepperPrevious>prev</button>
              <button nbButton nbStepperNext>next</button>
            </form>
          </nb-step>
          <nb-step [stepControl]="thirdForm" label="Parametrization">
            <form [formGroup]="thirdForm" (ngSubmit)="onThirdSubmit()" class="step-container">
              <p class="lorem">
                The Process details ( May be Micro Services ) displayed in the right pane need to be stored in DIM_Micro Services 
                User generally expects to see the details of each Micro service .On clicking the Parametrization Micro Service in the Process, 
                it should navigate to the next screen which allows the user to  edit the values assigned to the different parameters.
              </p>
              <div class="input-group">
                <input type="text" placeholder="Enter something" class="form-control" formControlName="thirdCtrl"
                       [ngClass]="{'form-control-danger': thirdForm.invalid && (thirdForm.dirty || thirdForm.touched)}">
              </div>
              <button nbButton nbStepperPrevious>prev</button>
              <button nbButton nbStepperNext>Confirm</button>
            </form>
          </nb-step>
          <nb-step [stepControl]="thirdForm" label="Replacement Cost">
            <form [formGroup]="thirdForm" (ngSubmit)="onThirdSubmit()" class="step-container">
              <p class="lorem">
                The Process details ( May be Micro Services ) displayed in the right pane need to be stored in DIM_Micro Services 
                User generally expects to see the details of each Micro service .On clicking the Parametrization Micro Service in the Process, 
                it should navigate to the next screen which allows the user to  edit the values assigned to the different parameters.
              </p>
              <div class="input-group">
                <input type="text" placeholder="Enter something" class="form-control" formControlName="thirdCtrl"
                       [ngClass]="{'form-control-danger': thirdForm.invalid && (thirdForm.dirty || thirdForm.touched)}">
              </div>
              <button nbButton nbStepperPrevious>prev</button>
              <button nbButton nbStepperNext>Confirm</button>
            </form>
          </nb-step>
          <nb-step [stepControl]="thirdForm" [hidden]="true" label="Third step">
            <div class="step-container">
              <h3>Wizard completed!</h3>
              <button nbButton (click)="stepper.reset()">Try again</button>
            </div>
          </nb-step>
        </nb-stepper>
      </nb-card-body>
    </nb-card>
  <!-- </div> -->

  <!-- <div class="col-md-12 col-lg-6 col-xxxl-6"> -->
    <!-- <nb-card size="large">
      <nb-card-body>
        <nb-stepper orientation="vertical">
          <nb-step label="First step">
            <h3>Step content #1</h3>
            <p class="lorem">
              Proin varius accumsan semper. Praesent consequat tincidunt sagittis. Curabitur egestas sem a ipsum bibendum,
              sit amet fringilla orci efficitur. Nam bibendum lectus ut viverra tristique. Fusce eu pulvinar magna, quis
              viverra ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent metus turpis, commodo vel
              placerat quis, lobortis in ligula.
            </p>
            <button nbButton disabled nbStepperNext>prev</button>
            <button nbButton nbStepperNext>next</button>
          </nb-step>
          <nb-step label="Second step">
            <h3>Step content #2</h3>
            <p class="lorem">
              Curabitur luctus mattis risus nec condimentum. Donec at dui turpis. Sed vehicula fringilla rutrum. Nullam
              sed ornare magna. Mauris vitae laoreet diam. Mauris fermentum ligula at lacinia semper. Nulla placerat dui
              eu sapien pellentesque, eu placerat leo luctus. Cras pharetra blandit fermentum.
            </p>
            <button nbButton nbStepperPrevious>prev</button>
            <button nbButton nbStepperNext>next</button>
          </nb-step>
          <nb-step label="Third step">
            <h3>Step content #3</h3>
            <p class="lorem">
              Proin varius accumsan semper. Praesent consequat tincidunt sagittis. Curabitur egestas sem a ipsum bibendum,
              sit amet fringilla orci efficitur. Nam bibendum lectus ut viverra tristique. Fusce eu pulvinar magna, quis
              viverra ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent metus turpis, commodo vel
              placerat quis, lobortis in ligula.
            </p>
            <p class="lorem">
              Curabitur luctus mattis risus nec condimentum. Donec at dui turpis. Sed vehicula fringilla rutrum. Nullam
              sed ornare magna. Mauris vitae laoreet diam. Mauris fermentum ligula at lacinia semper. Nulla placerat dui
              eu sapien pellentesque, eu placerat leo luctus. Cras pharetra blandit fermentum.
            </p>
            <button nbButton nbStepperPrevious>prev</button>
            <button nbButton nbStepperNext>next</button>
          </nb-step>
          <nb-step label="Fourth step">
            <h3>Step content #4</h3>
            <p class="lorem">
              Proin varius accumsan semper. Praesent consequat tincidunt sagittis. Curabitur egestas sem a ipsum bibendum,
              sit amet fringilla orci efficitur. Nam bibendum lectus ut viverra tristique. Fusce eu pulvinar magna, quis
              viverra ex.
            </p>
            <button nbButton nbStepperPrevious>prev</button>
            <button nbButton disabled nbStepperNext>next</button>
          </nb-step>
        </nb-stepper>
      </nb-card-body>
    </nb-card> -->
  <!-- </div> -->
</div>
